build/*
build/**/*
zirix-data/cache/**/*
zirix-data/cache/*
zirix-data/config/int.cfg
zirix-data/resources/[system]/[builders]/webpack/**/*
zirix-data/resources/[system]/[builders]/webpack/*
zirix-data/resources/[system]/[builders]/yarn/**/*
zirix-data/resources/[system]/[builders]/yarn/*
zirix-data/resources/[system]/screenshot-basic/**/*
zirix-data/resources/[system]/screenshot-basic/*