build/*
build/**/*
zirix-data/cache/**/*
zirix-data/cache/*
zirix-data/resources/[sistema]/[builders]/webpack/**/*
zirix-data/resources/[sistema]/[builders]/webpack/*
zirix-data/resources/[sistema]/[builders]/yarn/**/*
zirix-data/resources/[sistema]/[builders]/yarn/*