div { border: 0; outline: 0; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }
:focus { outline: 0; }
::selection { background: transparent; }

*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

body {
    background: none;
}

#concessionaria{
    width: 90%;
    height: 95%;
    position: absolute;
	font-size:14px;
	color: #222222;
	background: rgba(0, 0, 0, 0.11);
	font-family: 'Poppins', sans-serif;
    margin:0 auto;
    /* overflow:hidden; */
    display: none;
    z-index: 1 !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    
}

#carros {
    overflow: auto;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	font-size:13px;
	padding:0;
    margin:0;
}

h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#000;
	text-transform: capitalize;
}

p {
	margin: 0;
	color:#a3007b;
	font-size:14px;
}

img{	border:none;max-width:100%; height:auto;}

ul{
	padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
	list-style: none;
}

select,input,textarea,button{box-shadow:none;outline:0!important;}

html,body{
    height: 50%;
}

[placeholder]:focus::-webkit-input-placeholder {

  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;

}



/*=============Style css=========*/

/*-------------------------------------
		2. Header
--------------------------------------*/
.top-area {
    position: relative;
    width: 100%;
}
.wrapper {
    position: relative;
    z-index: -1;
}
.header-area{
    position:relative;
    width: 100%;
}

/*.sticky-wrapper */
.sticky-wrapper {
    position: relative;
    z-index: 2;
    transition:.7s;
}
.is-sticky .header-area{

}
.is-sticky .header-area:after{
    position:absolute;
    content:'';
    background: #FFF;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:-1;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition: all 0.5s linear;
}
.sticky-wrapper.is-sticky .main-menu .nav a:before{
    bottom: 17.6px;
}/*.sticky-wrapper */



/*.main-menu*/
.main-menu {position:relative;}
.main-menu ul .nav .navbar-nav {
    text-align:right;
    float:none;
}
.main-menu .nav li {
    position:relative;
    padding: 16px 12px 0px;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition: all 0.2s linear;

    padding: 11px 0 29px;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;

    margin: 0 5px;
}
.main-menu  .nav  li.selected ,
.main-menu  .nav  li:hover,
.main-menu  .nav  li#aba_meus,
.main-menu .nav  li:focus{
    color: #a635b8;
    background-color:transparent;
}
.main-menu .nav li:before{
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    bottom: -2.4px;
    left: 0;
    background: transparent;
    -webkit-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}
.main-menu .nav li.selected:before,
.main-menu .nav li:hover:before{
    background: #a635b8;
    width: 100%;
}

/*.main-menu*/

/* tooggle */
.main-menu .navbar-toggle {
    margin-top: 5px;
    border: 1px solid;
    font-size: 16px;
    float:left;
}
.main-menu .navbar-toggle {
    color: ff0000;
}
.main-menu .navbar-default .navbar-toggle:focus, 
.main-menu .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


.home-border{
    border-top:2px solid #fff;
}

/*book-btn*/
.book-btn {
	background: #400035;
    border: 1px solid #400035;
    width: 120px;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.book-btn:hover{
    color: #fff;
    background: #a635b8;
    border: 1px solid #a635b8;
}/*book-btn*/

/*-------------------------------------
		3. 	About
--------------------------------------*/
.about-us{
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	background: url(../../assets/images/home/banner.jpg)no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 1000px;
}
.about-us:before{
	position: absolute;
	content: "";
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,122,207,.4);
}

/*about-us-content*/
.about-us-content{
	margin: -175px 0 0 0;
}
.about-us h2 {
	color:#fff;	
	font-size:84px;
	text-transform: inherit;
	max-width: 800px;
	font-weight: 600;
	line-height: 1.22;
}
.about-us h2 span{
	color:#2bdab5;
	margin-top: -11px;
}
.about-btn {
    margin-top: 39px;
    letter-spacing: 1.2px;
     -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.about-view {
	display: flex;
    justify-content: center;
    align-items: center;
    background: #400035;
    border: 1px solid #400035;
    width: 200px;
    height: 60px;
    white-space: nowrap;
    color: #fff;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(14,15,18,.2);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.about-btn:hover .about-view{
    color: #fff;
    background: #a635b8;
    box-shadow: 0 5px 20px rgba(14,15,18,.7);
	border: 1px solid #a635b8;
}
.travel-mrt-0{
    margin-top: 0px;
}
/*about-us-content*/




/*-------------------------------------
        8. Packages 
--------------------------------------*/
.packages{
    padding:15px 0 0px;
}
.packages-content{
    margin-top:15px;
}
/*single-package-item */
.single-package-item{
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.single-package-item-txt{
    padding: 0 25px;
    background: #FFF;
}
.single-package-item img {
    width: 100%;
}
.single-package-item h3{
    position: relative;
    font-size: 15px;
    color: #a635b8;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}
.single-package-item h3:after{
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ebebeb;
}
.packages-para{
    padding:17px 0 0;
    text-transform: capitalize;
}
.packages-para p{
    font-size: 14px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    margin-bottom:15px;
}
.packages-para p span{
    display: inline-block;
    width: 150px;
}
.packages-review p i{
    color: #ffdf00;
    font-size: 16px;
}
.packages-review span{
    margin-left: 20px;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.about-view.packages-btn{
    width: 110px;
    height: 35px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;

}
.about-view.packages-btn:hover{
    box-shadow: 0 5px 20px rgba(14,15,18,.3);
}
.single-package-item:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
/*single-package-item */

#container {
	display: none;
    position: fixed;
    top:0px;
    left: 0px;
	width: 50%;
	height: 50%;
	z-index: 9999;
}
#msg {
	display: none;
	top: 50%;
	left: 50%;
	position: fixed;
	background: #202020;
	width: 40%;
	max-width: 500px;
	transform: translate(-50%,-50%);
}
#msg h1 {
	color: #FFF;
    margin: 0px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

#msg button {
	background: #307930;
    border: 0px;
    font-weight: bold;
    padding: 10px;
	color: #FFF;
	margin: 10px;
}
#msg button#nao {
	background: #ff1135;
}
