:focus { 
    outline: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    font-family: 'Roboto', sans-serif; 
    color: rgb(170, 170, 170);
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    opacity: 90%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}

h1 {
    border: 0;
    margin: 0;
    padding: 0;
    color: rgb(231, 231, 231);
}

h2 {
    border: 0;
    margin: 0;
    padding: 0;
    color: rgb(231, 231, 231);
}

h3 {
    border: 0;
    margin: 0;
    margin-top: -3px;
    margin-bottom: 5px;
    padding: 0;
    font-weight: 500;
    font-size: 11pt;
    color: #C1C1C1;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    border: 0;
    margin-bottom: 5px;
    padding: 0;
    color: rgb(231, 231, 231);
}

h6 {
    color: #C1C1C1;
    font-weight: 400;
    font-size: 12;
    padding: 0;
    margin: 0;
}

p {
    color: #C1C1C1;
    font-weight: 400;
    font-size: 12;
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    color:red;
}

g {
    color:orange;
}

#content {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: node;
    overflow: hidden;
}

#menu-fade {
    position: absolute;
    width: 400px;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95)), url(https://grainy-gradients.vercel.app/noise.svg);
    transition: transform .5s;
    display: none;
}

#menu-content {
    position: absolute;
    width: 460px;
    height: 600px;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

#menu-title {
    position: relative;
    width: 350px;
    height: 60px;
}

.bar {
    position: relative;
    width: 350px;
    height: 4px;
    background-image: linear-gradient(to right, rgb(88, 69, 255), rgb(255, 74, 212), rgb(252, 156, 45));
    border-radius: 10%;
}

#char-list {
    position: relative;
    width: 350px;
    height: max-content;
}

.menu-description {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 350px;
    height: max-content;
    margin-top: 10px;
    padding: 10px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.char {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.05));
	border: 1px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
    transition: background-color 0.2s ease-in-out;
}

.char:hover {
    transform: scale(1.03);
    background-color: #444444e1 !important; 
	border-image: linear-gradient(to right, rgb(88, 69, 255), rgb(255, 74, 212), rgb(252, 156, 45)) 1;
}

.char.active {
    transform: scale(1.03);
    background-color: #444444e1 !important; 
	border-image: linear-gradient(to right, rgb(88, 69, 255), rgb(255, 74, 212), rgb(252, 156, 45)) 1;
}

#char-gender {
    position: absolute;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgba(193, 193, 193, 0.02);
    border-radius: 3px 0px 0px 3px;
}

#char-gender img {
    width: 30px;
    height: 30px;
}

#char-name {
    position: absolute;
    width: 230px;
    height: 60px;
    left: 60px;
    overflow: hidden;
    white-space: nowrap
}

#char-name h2 {
    position: absolute;
    margin-left: 15px;
    margin-top: 16px;
}

#char-id {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgba(193, 193, 193, 0.02);
    border-radius: 0px 3px 3px 0px;
    overflow: hidden;
}

#char-id h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slot {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.05));
	border: 1px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
    transition: background-color 0.2s ease-in-out;   
}

.slot:hover {
    transform: scale(1.03);
    background-color: #444444e1 !important; 
	border-image: linear-gradient(to right, rgb(88, 69, 255), rgb(255, 74, 212), rgb(252, 156, 45)) 1;
}

#slot-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spawnar {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
    display: none;
}

#spawn-buttom {
    position: absolute;
    display: none;
    width: 350px;
    height: 60px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65));
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: background-color 0.5s ease-in-out;  
    transition: transform .3s;
}

#spawn-buttom:hover {
    background-color: #444444e1 !important; 
    border-image: linear-gradient(to right, rgb(88, 69, 255), rgb(255, 74, 212), rgb(252, 156, 45)) 1;
}

#spawn-buttom h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 800;
}

#new-char{
    position: absolute;
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#new-char-buttom {
    position: relative;
    width: 350px;
    height: 60px;
    margin-top: 10px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.05));
	border: 1px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
    transition: background-color 0.2s ease-in-out;
}

#new-char-buttom:hover {
    transform: scale(1.03);
    background-color: #444444e1 !important; 
	border-image: linear-gradient(to right, rgb(88, 69, 255), rgb(255, 74, 212), rgb(252, 156, 45)) 1;
}

#new-char-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: relative;
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.logo img {
    width: 300px;
    height: 300px;
}