@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&display=swap";
div { border: 0; outline: 0; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }
:focus { outline: 0; }
::selection { background: transparent; }
:root {
	--font-family-sans-serif: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
#actionmenu {
	top: 50%;
	left: 50%;
	display: none;
	position: fixed;
	transform: translate(-50%,-50%);
}

#actionmenu button:first-child {
	border-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #E0E3E9;
}

#actionmenu button:last-child {
	border-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#actionmenu button {
	background-color: #FFF;
	width: 300px;
	height: 47px;
	border: 0;
	color: #4D5969;
	display: block;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.5px;
	padding: 0px 20px;
	border: 1px solid #E0E3E9;
	border-top: none;
	font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	-webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

#actionmenu button:hover {
	background-color: #8e44ad;
	color: #FFF;
	border-bottom: 1px solid #E0E3E9;
}

#actionmenu button:hover r {
	color: #fff;
}

l {
	width: 75%;
	text-align: left;
	float: left;
}

r {
	color: #97A3B3;
	width: 25%;
	text-align: right;
	float: left;
}