body {
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

* {
    user-select: none;
    box-sizing: border-box;
}

button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;

    cursor:pointer;

    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background: none;
}

p {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
    font-size: small;

    color: rgba(255, 255, 255, 0.7);
}

img {
    max-width: 60%;
    max-height: 60%;
    margin-top: 20%;
    margin-left: 20%;
}

ul {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 10pt;
    text-decoration: none;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    border-radius: 5px;

    transform: translate(-50%,-50%);
}

.container-tittle {
    position: absolute;
    width: 880px;
    height: 50px;
    border-radius: 5px;
    left: 10px;

    background-color: rgba(0, 0, 0, 0.4);
}

.container-tittle p {
    text-align: left;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.itens {
    position: absolute;
    width: 880px;
    height: 530px;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
}

.item-section {
    width: 100%;
    height: 100%;
}

.item-section .item-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  
    overflow: auto;
}

.item-section .item-container .itens-session {
    width: 880px;
    height: 160px;
    border-radius: 5px;
    margin-bottom: 10px;

    background-color: rgba(0, 0, 0, 0.4);

    -webkit-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.item-info {
    position: relative;
    width: 860px;
    height: 140px;
    margin-top: 10px;
    margin-left: 10px;
}

.item-picture {
    width: 140px;
    height: 140px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.6);
}

.item-menu {
    position: absolute;
    width: 710px;
    height: 40px;
    top: 0px;
    right: 0px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.6);
}

.item-name {
    position: absolute;
    width: 500px;
    height: 30px;
    top: 5px;
    left: 5px;
}

.item-name p {
    margin-left: 10px;
    margin-top: 4px;
    align-content: center;
    text-align: left;
    font-weight: bold;
    font-size: 15pt;
}

.clean-money {
    position: absolute;
    width: 180px;
    height: 30px;
    top: 5px;
    right: 5px;

    border-radius: 5px;

    background-color: rgba(255, 140, 0, 1.0); 
}

.clean-money button {
    color: rgba(41, 41, 41, 1.0);
}

.clean-money button:hover {
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 209, 135, 0.8);
}

.item-preparation-one {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    top: 50px;
    left: 150px;

    background-color: rgba(0, 0, 0, 0.6);
}

.item-preparation-two {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50px;
    left: 250px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.6);
}

.item-preparation-three {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50px;
    left: 350px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.6);
}

.item-preparation-four {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50px;
    left: 450px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.6);
}

.item-description {
    position: absolute;
    width: 310px;
    height: 90px;
    top: 50px;
    left: 550px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.6);
}

.item-description2 {
    position: absolute;
    width: 710px;
    height: 90px;
    top: 50px;
    left: 150px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}