div { border: 0; outline: 0; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }
:focus { outline: 0; }
::selection { background: transparent; }

*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

body {
    background: none;
}

#painel_control_people {
    width: 90%;
    height: 95%;
    max-width: 1280px;
    position: absolute;
	color: #222222;
	background: url('img/bg.png') #FFF;
    background-repeat: no-repeat;
    background-position: center;
    margin:0 auto;
    /* overflow:hidden; */
    display: none;
    z-index: 1 !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}


#painel_control_people .body {
    display: none;
    overflow: auto;

    
}


a {
    color: #E01232;
    text-decoration: none;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #9f0a21;
}

a:focus, a:hover {
    color: #9f0a21;
    text-decoration: underline;
}
.swal2-popup  {
    zoom: 2;
}
.title {
    /* text-align: center; */
}

#img_pessoa {
    margin: auto;
}

#infos h6 {
    margin: 0px;
}
#infos h3 {
    margin: 0px 0px 10px 0px;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #E01232;
    border-color: #E01232;
}

.btn-primary {
    color: #fff;
    background-color: #E01232;
    border-color: #E01232;
}

.btn-primary:hover, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary,  .btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #9f0a21;
    border-color: #9f0a21;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
    background: #E01232 !important;
}
.swal2-progress-steps .swal2-progress-step {
    background: #E01232 !important;
}
.swal2-progress-steps .swal2-progress-step-line {
    background: #E01232 !important;
}
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line {
    background: rgb(255, 91, 116) !important;
}
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step {
    background: rgba(255, 91, 116) !important;
    color: #fff;
}
.swal2-styled.swal2-confirm {
    background-color: #E01232 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #E01232;
}

.thumbnail {
    background-color: #fff;
    border: 1px solid #E01232;
}

#alert {
    position: fixed;
    width: 100%;
    top:0px;
    left: 0px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    display: none;
    z-index: 999999;
}
.success {
    background: #4caf50;
}
.info {
    background: #337ab7;
}
.danger {
    background: #e01232;
}