body {
    position: relative;
	margin-top: 450px;
	margin-left: -110px;
    width: 100%;
    height: 100%;

    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
* {
    user-select: none;
    box-sizing: border-box;
}

.button {
    width: 100%;
    height: 95%;
    padding: 0;
    border: 2px;
	border-radius: 5px;
	border-color: transparent;
	outline: none;
    cursor:pointer;
	transition:all 2s ease;
	

    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background: none;
}


.button2 {
    width: 100%;
    height: 95%;
    padding: 0;
    border: none;
	transition: 0.5s;

    cursor:pointer;

    color: white;
    font-family: Arial;
    text-decoration: none;
    background: none;
}

p {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
    font-size: small;

    color: rgba(255, 255, 255, 0.7);
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0%;
    margin-left: 0%;
}

h1{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: none;
    color: white;
}

.conteudo {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    border-radius: 15px;

    transform: translate(-50%,-50%);
}

.mascara {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);

    background: transparent;
}

.menu {
    position: absolute;
    width: 1100px;
    height: 40px;
    border-radius: 5px;
    top: 10px;
    left: 10px;

    background-color: rgb(0, 0, 0);
}

.titleMenu {
    position: absolute;
    width: 200px;
    height: 40px;
    left: -20px;
}

.titleMenu p {
    margin-top: 10px;
    font-size: 13pt;
    color: rgb(255, 255, 255);
}

.wip {
	position:relative;
	top: 365px;
	left:-380px;
	
}

.wip p {
    margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: rgba(255, 255, 255, 0.5);
}

.categorias {
    position: absolute;
    width: 250px;
    height: 40px;
    right: 10px;
}

.sessaoCategorias {
    width: 100%;
    height: 100%;
}

.secCat{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%; 
}

.secCat .catSessao {
    width: 100px;
    height: 40px;
    margin-top: 4px;
    margin-left: 10px;
}

.secCat .catSessao p:hover {
    color: steelblue;
}

.itens {
    position: absolute;
    width: 894px;
    height: 530px;
    bottom: 10px;
    left: 5px;
    border-radius: 5px;

}

.sessaoItens {
    width: 130%;
    height: 100%;
}

.sessaoItens .conteudoSessao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 102%;
    width: 100%;
  
    overflow: auto;
}

.sessaoItens .conteudoSessao .itemSessao {
    width: 212px;
    height: 264px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
	

    background-color: rgba(0, 0, 0, 0.3);

    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.sessaoItens .conteudoSessao .itemSessao:hover{
    background-color: rgba(66, 236, 134, 0.39);
}

.item-info {
    width: 202px;
    height: 214px;
    margin-top: 5px;
    margin-left: 5px;
}

.fotoItem {
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.tituloItem {
	position: relative;
    width: 180px;
    height: 34px;
	margin-bottom: -10px;
    margin-left: 11px;
}

.option1 {
	position: relative;
    width: 202px;
    height: 25px;
	
    margin-left: 5px;
    border-radius: 5px;
	margin-top: -35px;

    background-color: rgba(0, 0, 0, 0.8);

    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.option2 {
	position: relative;
    width: 202px;
    height: 25px;
	
    margin-left: 5px;
    border-radius: 5px;
	margin-top:-10px;

    background-color: rgba(0, 0, 0, 0.8);

    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.or {
	position:relative;
	margin-top:-5px;
	margin-bottom:10px;
}

.option1:hover{
    background-color: rgba(66, 236, 134, 0.39);
}

.option2:hover{
    background-color: rgba(66, 236, 134, 0.39);
}

.clear {
	position: relative;
    width: 1100px;
    height: 35px;
	
    margin-left: 5px;
    border-radius: 5px;
	margin-top: -130px;
	

    background-color: rgba(0, 0, 0, 0.8);

    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}



.clear:hover{
	transform:scale(1.10.,1.10);
	transition:all 0.25s ease;
    background-color: rgba(66, 236, 134, 0.39);
}

.pagamento:hover{
    background-color: steelblue;
	transition: 0.25s;
}

.close {
    width: 30px;
    height: 30px;
    margin-left: 1068px;
	margin-top: -586px;
    border-radius: 5px;

    background-color: rgba(100, 50, 50, 1.0);

    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.close:hover{
	transition: 0.25s;
	transform:scale(1.05,1.05);
    background-color: rgb(100,25,25);
}

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.cabeca {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30px;
    left: 15px;
    background-size: cover;
}

.perbra {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30px;
    left: 233px;
    background-size: cover;
}

.pemao {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30px;
    left: 455px;
    background-size: cover;
}

.coluna {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30px;
    left: 677px;
    background-size: cover;
}

.situacao {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30px;
    left: 898px;
    background-size: cover;
}



.primeiro {
    position: absolute;
    width: 200px;
    height: 240px;
    top: 12px;
    left: 11px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

.segundo {
    position: absolute;
    width: 200px;
    height: 240px;
    top: 12px;
    left: 233px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

.terceiro {
    position: absolute;
    width: 200px;
    height: 240px;
    top: 12px;
    left: 455px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

.quarto {
    position: absolute;
    width: 200px;
    height: 240px;
    top: 12px;
    left: 677px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}